* {
    margin: 0;
    padding: 0;
}


/**
 * NOTE:
 *  Due to limited time, this is a "make is work setup".
 *  Variables should be generic, and not defined to support i.eg. an hr tag (--hrColor).
 */
:root {
    --padding: 20px;
    --mapBackground: #191A1A;
    --wfpBlue: #007DBC;
    --hrColor: #CCC;
    --headerHeight: 7.5vh;
}

body {
    background: var(--mapBackground);
    overflow: hidden;
}

/** Make the headings look just a little bit elegant  */
h1, h2 {
    font-weight: 300;
}

hr {
    border-top: .5px solid var(--hrColor);
}
